body{
    margin:0;
    padding:0;
    background-color: #111;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width:100vw;
    max-width: 100%;
}

.body-padding {
    padding:2rem;
}
